*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.imgDiv{
    background: url("../assets/background.jpg") no-repeat center center;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: -22;
    background-size: cover;
    position: fixed;
}
.leftContainer,.middleContainer,.rightContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topMiddle,.bottomMiddle{
    width: 1008px;
    background-color: lightcoral;
    height: 173px;
}
.gameDiv{
    width: 1000px;
    height: 600px;
    border: 4px solid black;
    background-color: gray;
}

.leftCenter,.rightCenter{
    height: 600px;
    width: 456px;
    background-color: aqua;
}
